<div class="chireiden-post">
	<article class="chireiden-py">
		<%- page.content %>
	</article>
	<% if (page.comments){ %>
        <div class="chireiden-post-footer">
            <%- theme.comment ? partial('_partial/comment') : '' %>
        </div>
    <% } %>
</div>
