<% if (site.tags.length){ %>
  <div class="chireiden-widget-wrap">
    <h3 class="chireiden-widget-title"><%= __('tags') %></h3>
    <div class="chireiden-widget">
      <%- list_tags({show_count: theme.widgetAchive.show_count}) %>
    </div>
  </div>
<% } %>
