<% if (page.total > 1){ %>
    <nav class="chireiden-page-nav">
        <%- paginator({
            prev_text: '<i class="chireidenfont icon-left"></i>',
            next_text: '<i class="chireidenfont icon-right"></i>',
            escape: false
        }) %>
    </nav>
  <% } %>